@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Lobster&display=swap');
@import "tailwindcss";

body {
    font-family: "Fustat", sans-serif;
}

.logo {
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-style: normal;
}